<div id="EUVAT-mod" class="content-item">
            <h3 class="module-title">欧洲VAT计算方式</h3>
            <p class="cont-desc">
                18年亚马逊根据欧洲各国政策要求在英国，如果商家向英国及欧洲销售货物或者提供服务，或将货物从境外进口到英国及欧洲境内，就需要考虑增值税(VAT)。<br />
                商家需要向英国税务海关总署(HMRC)注册增值税号(VAT号)，按要求进行季度申报，并且缴纳税金。
            </p>
            <div class="content-mod">
                <strong class="sub-cont-title">什么是VAT?</strong>
                <p class="cont-desc"><b class="weaken">具体的计算是分成进口和销售两部分的。</b></p>
                <div class="advantage-cont">
                    <strong class="advantage-title">1.进口部分：</strong>
                    <p>
                        进口税 = 进口增值税 + 进口关税<br />
                        进口增值税 = (申报货值 + 头程运费 +关税)X 20% (这是商家可以退回)<br />
                        进口关税 = 申报货值 X 产品税率
                    </p>
                    <strong class="advantage-title">2.销售部分<b class="weaken">（这里都用英国标准税率(Standard
                            Rate)为例哦~）</b>：</strong>
                    <p>
                        销售增值税 = 定价 (税前价格) X 20%<br />
                        市场销售价格(含税)= 定价(税前价格) + 销售增值税= 定价(税前价格) +定价 (税前价格) X 20%= 定价(税前价格) X 1.2<br />
                        换句话说，销售增值税=市场销售价格 / 1.2 X 20%= 市场销售价格 / 6 (上缴的VAT，实为市场售价的1/6)
                    </p>
                    <strong class="advantage-title">1）进口VAT的计算公式：（申报价值+FREIGHT+DUTY）×20%</strong>
                    <p>
                        举例：<br />
                        申报价值：100.00<br />
                        运费：10.00<br />
                        duty：（100×0.03）=3（关税率3%）<br />
                        应缴进口VAT=（100+10+3）×20%=22.60<br />
                        货物成本合计：100+10+22.6+3=135.60
                    </p>
                    <strong class="advantage-title">2）销售VAT的计算公式：销售价格÷（1+20%）×20%</strong>
                    <p>
                        举例：<br />
                        销售价：250.00<br />
                        不含税销价格：250.00÷（1+20%）=208.4<br />
                        销售VAT=250.00÷（1+20%）×20%=41.7
                    </p>
                    <p><b class="weaken">实际场景：</b></p>
                </div>
            </div>
            <div class="quote-info">
                <i class="quote quote-top"></i>
                <i class="quote quote-bottom"></i>
                <p>某款鞋子发到英国，数量200双，申报价值
                    20英镑/双。那么，这批鞋子的总的申报货值为4000英镑，头程运费共500英镑，鞋子税率10%。在eBay的最终销售价格(含税)为100英镑/双。那么，商家当季实际需要缴纳多少VAT(增值税)?
                </p>
            </div>
            <div class="advantage-cont">
                <strong class="advantage-title">1)进口VAT计算：</strong>
                <p>
                    关税=申报货值 X商品税率=4000*10%=400英镑<br />
                    进口增值税(IMPORT VAT)=(申报货值 + 头程运费 +关税)X 20%=(4000+500+400)X 20%=980英镑
                </p>
                <strong class="advantage-title">2)销售VAT计算：</strong>
                <p>
                    假如这批鞋子在当季线上销售，最终销售价格为100英镑/双，实际销售可能会出现以下几个情况：<br />
                    A. 鞋子销售数量为0。即销售额为0，销售增值税为0，卖家可向英国税务海关总署申请退税(进口增值税)980英镑；<br />
                    B. 鞋子200双全部售出。即销售额为20，000英镑，销售增值税为 20，000/6=3333.3英镑，应缴VAT(增值税)3333.3-980=2353.3英镑；<br />
                    C. 鞋子只售出了一部分，比如一半，即100双，那么销售额为10,000英镑，销售增值税为10000/6=1666.6英镑，应缴VAT(增值税)为 <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;1666.6-980=686.6英镑；<br />
                    D. 如果鞋子只售出50双，此时的销售增值税为50*100/6=833.3，此时，销售增值税低于进口增值税980英镑，此时应缴VAT(增值税)为<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;833.3-980=-146.7英镑。也就是说，此时，抵扣VAT后，英国税务海关总署会向你退回146.7英镑。
                </p>
            </div>
            <div class="content-mod">
                <strong class="sub-cont-title">英国新法案及建议</strong>
                <div class="advantage-cont">
                    <p><b class="weaken">英国政府宣布将从2018年4月1号起开始实施仓储服务商尽职调查方案(Fulfilment House Due Diligence Scheme)。</b>
                    </p>
                    <p>该法案适用于为欧盟以外的企业从欧盟以外进口货物并在英国提供存储服务的英国服务提供商<b class="special">(也就是说，向海外卖家提供仓储服务的海外仓，都适用于这个法案哦)。</b>
                    </p>
                    <p>
                        该法案要求符合条件的仓储服务商向英国税务海关总署登记注册，对其海外客户进行严格的尽职调查<b class="weaken">(例如，客户是否有有效的英国增值税(VAT)号)</b>;
                        如果发现可能不合规的海外客户，则必须和这些客户停止合作，并且将相关信息告知英国税务海关总署。<br />
                        1)在2018/4/1之前已开展上述业务的服务商必须在 2018/6/30之前向英国税务海关总署注册。<br />
                        2) 在2018/4/1当天或之后开展上述业务的服务商必须在2018/9/30之前向英国税务海关总署登记注册。
                        <br />
                    </p>
                    <p>
                        <b class="special">卖家需要注意了! 在该法规执行后， 不合规的仓储服务商将无法再供海外仓服务了。 几点非常成熟的小建议给卖家：</b><br />
                        1)寻找合规的已登记注册的仓储服务提供商 (英国税务海关总署会公布登记名单)。<br />
                        2)向仓储服务商提供所需信息，例如：合规的英国增值税(VAT)号码，以及货物信息等。<br />
                        3)确保按照相关法规及时申报和缴纳增值税(VAT)。
                    </p>
                </div>
            </div>
        </div>