<div id="base-mod" class="content-item" style="display:block;">
    <h3 class="module-title">FBA专区</h3>
    <div id="fba-kp" class="content-mod">
        <strong class="sub-cont-title">FBA空派服务</strong>
        <p class="cont-desc">德速FBA空派服务是德速自主设计头程空运，代理清关并UPS/FedEx/DPD派送至美国，欧洲，加拿大FBA仓库及第三方海外仓或私人地址的特色专线产品。</p>
        <div class="advantage-cont">
            <strong class="advantage-title">渠道优势：</strong>
            <p>1. 每周欧美固定位，航司长期包板包量，时效运力有保障；</p>
            <p>2.优质快递派送账号，搭配末端定班卡车优化多层次多网络派送渠道；</p>
            <p>3.美东美西分开飞，全美航班高效配载，直达最近的FBA仓库机场。 </p>
        </div>
    </div>
    <div id="fba-hp" class="content-mod">
        <strong class="sub-cont-title">FBA海派服务</strong>
        <p class="cont-desc">德速FBA海派服务是德速自主设计头程海运舱位，海运至目的国提至德速海外仓分拣，并UPS/FedEx/DPD派送至美国，欧洲，加拿大FBA仓库及第三方海外仓或私人地址的特色专线产品。</p>
        <div class="advantage-cont">
            <strong class="advantage-title">渠道优势：</strong>
            <p>1. 自持船公司常年约，舱位充足稳定，常用EMC，OOCL，MSK，MATSON；</p>
            <p>2.自主搭建盐田海派以及美森海派，盐田一周三班，美森一周一班，密集频率确保出货无忧；</p>
            <p>3.美国公司作为正规进口商，严控品类，确保安全便捷，通关率高，查验率低。</p>
        </div>
    </div>
    <div id="fba-hk" class="content-mod">
        <strong class="sub-cont-title">FBA海卡服务</strong>
        <p class="cont-desc">
            德速FBA海卡服务是德速针对欧美FBA仓库不同特点，自主设计的全美十三个仓库直送和欧洲加拿大监管仓拆柜直送的海运加清关卡车派送服务。
        </p>
        <div class="advantage-cont">
            <strong class="advantage-title">渠道优势：</strong>
            <p>1. 全美十三个大型FBA的直送服务，成本低，时效快，每周定期出运，解决分仓困扰；</p>
            <p>2.欧洲加拿大监管仓拆柜派送，通关安全性高，货物间查验互不影响；</p>
            <p>3.每欧美加优势卡车以及华人车队网络资源充足，熟悉FBA入仓规则。</p>
        </div>
    </div>
    <div id="fba-zf" class="content-mod">
        <strong class="sub-cont-title">FBA快递直发服务</strong>
        <p class="cont-desc">
            德速是国际四大快递代理之一，规范的操作、强大的系统、合理的价格、充足的仓位，有效助您解决亚马逊FBA头程运输的痛点。
        </p>
        <div class="advantage-cont">
            <strong class="advantage-title">渠道优势：</strong>
            <p>1. 提供纯商业快递直发双清包税服务，为您有效解决关务和税金的痛点；</p>
            <p>2.大陆DHL/UPS/TNT仓位充足不排仓，香港UPS/FedEx价格实惠，满足您的个性化物流需求；</p>
        </div>
    </div>
</div>