<div id="USA-mod" class="content-item">
    <h3 class="module-title">美国关税查询方式</h3>
    <p class="cont-desc">
        正值旺季备战黄金时机，没想到跨境圈却“台风”、“地震”频频：中美贸易战持续升级，自2018年9月24日起，美国政府将实施对从中国进口的约2000亿美元商品加征关税，税率为10%，并从明年1月1日起加征关税税率提高到25%。美国政府步步紧逼，中国也予以一次次的反击，然而两方交战，必有伤亡！相信外贸企业和跨境电商都坐不住了，我的产品会不会进了美国的加税名单呢？又要加多少税呢？今天，小德跟大家唠唠嗑，谈谈怎么攻破这些难题。
    </p>
    <div class="content-mod">
        <strong class="sub-cont-title">步骤1——登录美国海关关税查询官网</strong>
        <p class="cont-desc">点击“美国海关关税查询”官方网址：<a href="http://www.usitc.gov/tata/hts/bychapter/index.htm"
                target="_blank">http://www.usitc.gov/tata/hts/bychapter/index.htm</a>，在Tariff Assistance项下Search
            the current Harmonized Tariff Schedule...下的搜索框中输入输入中国HS CODE的前六位数，如台灯940520****，搜索结果页面的左边框有详细的HTS
            CODE，根据自己的产品选择HTS CODE。</p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_01.jpg">
        </p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_02.jpg">
        </p>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">步骤2——查询进口关税</strong>
        <p class="cont-desc">搜索页面中Rates of Duty 1左边一栏“General”为一般进口税率，右边一栏“Special”是美国对特定国家征收的进口税率。</p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_03.jpg">
        </p>
        <p class="cont-desc">目前已经有外贸人遭遇了货到美国、买家才发现需要缴纳25%关税的情况，最终买家选择弃货，出口方需处理退运等后续事宜，亏钱不说，焦头烂额，心中也十分煎熬。</p>
        <p class="cont-desc">
            所以小德提醒大家，出口美国，切记要主动查询产品是否被列入了征税清单，并主动联系美国买家核实情况。不管是DDP条款的订单，还是美国亚马逊运营，都需要提前确认好美国清关关税，很可能上个月出口关税与这个月的关税就有很大差别。
        </p>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">步骤3——选择具体商品</strong>
        <p class="cont-desc">针对具体产品，可以看到在“Rates of Duty”处有好几栏，究竟应该看哪一栏呢？</p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_04.jpg">
        </p>
        <p class="cont-desc">
            “1”中的<b class="special">“General”</b>指从世界绝大部分进口产品的关税（含中国），<b class="special">“Special”</b>指和美国有相关自贸协定国家的进口关税（经常有free的，可是那不是给我们享受的）；<br />
            “2”指和美国没有贸易关系的贸易受限的<b class="special">特殊国家</b>（比如朝鲜）的进口关税。<br />
            所以，我们是看“General”的税率。<br />
            <b class="special">这时候就有很多人要问了：“General”税率没有变，没有加上25%，这是不是意味着产品最后没加税？</b><br />
            <b class="special">请注意你的“General”后面有没有带上“1”。</b>
        </p>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">如何查看产品需要缴税多少呢？</strong>
        <p class="cont-desc">
            小德举个栗子给大家说明一下：我们以税号为“8408.10.00”的船用推进发动机为例演示，这项产品被列入了160亿美元的加税清单中，此前它的进口税率在“General”处显示是2.5%。但它后面跟着一个“1”，显示让我们再去查看“9903.88.01”这个副标题。
        </p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_05.jpg">
        </p>
        <p class="cont-desc">继续在网页中查询“9903.88.01”，这里就明确提及，这一部分的中国产品在适用税率基础上再加25%。</p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_06.jpg">
        </p>
        <p class="cont-desc">
            <b class="weaken">Articles the product of China, as enumerated in U.S. note 20 to this subchapter.</b><br />
            <b class="weaken">The duty provided in the applicable subheading plus 25%.</b><br />
            这句话中提及“note 20”是个什么东西呢？在“Chapter”页面下我找到了这个note
            20，它是对中国产品加税的一个解释。这里明确说明了，25%是额外征收的税率。下文中也继续列出了归在“9903.88.01”项下的编码。
        </p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_07.jpg">
        </p>
        <p class="cont-desc">
            可能有些朋友说：我查了我的产品，“General”后面没有带“1”的注释，这到底是加税还是不加？我试了一下，确实有些产品没有显示出加税，但它又在PDF名单里，小编建议大家还是以PDF名单为准，万一是美国这个官网还没更新数据呢？
        </p>
        <p class="cont-desc">
            <b class="special">最后，小德建议大家：首先在供下载的三份PDF文件中查询HTS码，看产品是否中枪了；如果是，则再在美国国际贸易委员会的官网（就是上文中提及的网址）查询税率；或者与订货的买家再次确认产品是否要加税。</b>
        </p>
        <p class="item-figure">
            <img src="/images/fla/USA/USA_08.jpg">
        </p>
        <p class="cont-desc">
            中美贸易战持续升级，老牌电商平台政策持续收紧，不少跨境卖家已经步履维艰，然而，现在美国还要加征25%的关税，这不是断了咱们的活路吗？不过大家也不要太过悲观，因为咱们的国家和政府也不会放任不管滴，9月25日早间，国务院新闻办召开发布会，就此前发布的《关于中美经贸摩擦的事实与中方立场》白皮书进行解读。发布会明确，所谓“美国吃亏论”站不住脚，美国进一步对价值2000亿美元的商品加征关税，会对中国经济带来直接和间接的影响，个别行业和地区受影响还会比较大。但风险总体可控，中国经济完全有能力通过扩大内需促进高质量发展来对冲影响。相信我国政府也会相继制定一系列有利于外贸企业和跨境电商企业的政策。
        </p>
    </div>
</div>