<div id="EU-mod" class="content-item">
    <h3 class="module-title">欧洲关税查询方式</h3>
    <p class="cont-desc">
        欧盟始于欧洲共同体，从最初的6个成员国发展至今拥有28个会员国。随着欧盟一体化进程的逐步深入，现已形成关境、市场、货币及政治多维一体化的联盟态势。而关境一体化则意味着同盟国对关境以外国家或地区的商品进口实行共同的关税税率和外贸政策。而关境一体化所带来的一个重大便利就是——
        货物进口到欧盟的关税税率是一样的，进境后同盟国间货物流通将不再产生关税/增值税。<br/>
        <b class="note">*注：关税同盟统一的只有产品的进口税率。虽然欧洲同样拥有统一的增值税征收规则，但是VAT税率在各国并未统一。</b>
    </p>
    <div class="content-mod">
        <strong class="sub-cont-title">步骤1——登录TARIC官网</strong>
        <p class="cont-desc">打开TARIC CONSULTATION 官网：
            <a href="http://ec.europa.eu/taxation_customs/dds2/taric/taric_consultation.jsp" target="_blank">http://ec.europa.eu/taxation_customs/dds2/taric/taric_consultation.jsp</a>，输入前六位950300定位(因为欧盟的海关编码和税率一样，所以Country
            of origin/destination可不填)
        </p>
        <p class="item-figure">
            <img src="/images/fla/EU/eu_01.jpg">
        </p>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">步骤2——确认海关编码</strong>
        <p class="cont-desc">
            根据TARIC细则确认最终海关编码。这里各位一定要根据子目的详细描述进行核对，否则对应税率可能会有很大差别。
        </p>
        <p class="item-figure">
            <img src="/images/fla/EU/eu_02.jpg">
        </p>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">步骤3——二次确认TARIC CODE</strong>
        <p class="cont-desc">
            点击最终确认的TARIC CODE, 可以看到无人机在欧盟的税率依然是0%
        </p>
        <p class="item-figure">
            <img src="/images/fla/EU/eu_03.jpg">
        </p>
        <p class="cont-desc">
            类似美国的HTS官网，可以看到税率分很多级，适用于中国的就是ERGA OMNES (即普遍适用等级)，后面则分别是其他国家的特惠税率。
        </p>
    </div>
</div>