<div id="delivery-mod" class="content-item" style="display:none;">
    <h3 class="module-title">FBA发货须知</h3>
    <div class="content-mod">
        <strong class="sub-cont-title">分配须知</strong>
        <div class="advantage-cont">
            <strong class="advantage-title">创建shipment后分配仓库，确认统计以下信息用于订舱：</strong>
            <p>1. 最终分配的所有FBA仓库地址 (含FBA CODE)</p>
            <p>2. 货物统计信息(总件数:箱数或托盘数/总毛重KG/总体积CBM/单件尺寸)</p>
            <p>3. 与客服确认提货地址/提货时间/CONSIGNEE资料(作为进口商)</p>
        </div>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">包装须知</strong>
        <div class="advantage-cont">
            <strong class="advantage-title">货物需符合亚马逊要求的纸箱包装或卡板包装：</strong>
            <div class="field-item">
                <p>
                    <label>小件货：</label>
                    <span>贴好SKU条码；</span>
                </p>
                <p>
                    <label>纸箱：</label>
                    <span>为防止运输过程脱落，建议外箱四面贴标签且覆盖透明胶布；</span>
                </p>
                <p>
                    <label>卡板：</label>
                    <span>
                        欧盟标准（欧标卡板/4way，长1.2M *宽0.8M*高1.6M）<br />
                        英国标准（欧标卡板/4way，长1.2M *宽0.8M *高1.7M）<br />
                        美国标准（美标卡板/4way，长1.2M *宽1M*高1.8M）<br />
                        货物超过半个托体积，则需要打托。
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">发货文件须知</strong>
        <div class="advantage-cont">
            <strong class="advantage-title">FBA发货需提供哪些信息和文件？</strong>
            <p>1.随货需提供1式3分商业发票正本；</p>
            <p>2.另需要向我司提供一份电子版的商业发票；</p>
            <strong class="advantage-title">海运/空运：</strong>
            <p>1. 无报关单证情况下：只需提供中英文电子版装箱单/发票（请移步帮助中心-资料下载）</p>
            <p class="sub-cont">需注明：Shipment name/ID ；Amazon Reference ID</p>
            <p>2.有报关单证情况下需提供以下整套报关资料：</p>
            <p class="sub-cont">1）销售合同（一份，盖公章，中文）</p>
            <p class="sub-cont">2）营业执照复印件（一份，盖公章)</p>
            <p class="sub-cont">3）装箱单（一份，盖公章，中文）</p>
            <p class="sub-cont">4）发票（一份，盖公章，中文）</p>
            <p class="sub-cont">5）报关单（一份，盖公章，中文）</p>
            <p class="sub-cont">6）正本报关委托书（红黄蓝一式三联，都盖公章）</p>
            <p class="sub-cont">7）存出仓委托书(一份，盖公章，中文)</p>
            <p class="sub-cont">8）品牌申明书（一份，盖公章，中文）</p>
            <p class="sub-cont">9）《进出口货物收发货人报关注册登记证书》复印件（一份、盖公章）</p>
            <p class="sub-cont">需注明：Shipment name/ID ；Amazon Reference ID</p>
        </div>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">提货须知</strong>
        <div class="advantage-cont">
            <p>1.提货司机不包装卸，如需装卸请提前说明；</p>
            <p>2.请提前将入舱纸/品牌声明书/存出仓委托书(自有单证报关同时随附单证) 填写盖章，在装货完毕后交给司机。</p>
        </div>
    </div>
    <div class="content-mod">
        <strong class="sub-cont-title">目的国进口商确认</strong>
        <div class="advantage-cont">
            <p>1.请提前确认目的国是否有进口商，或需用固定税号缴税(需退VAT)。</p>
            <p>2.进口商或固定税号信息请务需务必显示在箱单/发票/提单上，进口申报后不可更改。</p>
        </div>
    </div>
</div>