<div id="address-mod" class="content-item address-mod">
            <ul>
                <li>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美西区域分区代码 —— 美西一区（LAX）</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>ONT2</td><td>CA</td><td>加州</td><td>92408</td></tr>
                            <tr><td>ONT6</td><td>CA</td><td>加州</td><td>92551</td></tr>
                            <tr><td>ONT8</td><td>CA</td><td>加州</td><td>92551</td></tr>
                            <tr><td>ONT9</td><td>CA</td><td>加州</td><td>92374</td></tr>
                            <tr><td>LGB3</td><td>CA</td><td>加州</td><td>91752-5087</td></tr>
                            <tr><td>LGB4</td><td>CA</td><td>加州</td><td>92374</td></tr>
                            <tr><td>LGB6</td><td>CA</td><td>加州</td><td>92518-1513</td></tr>
                            <tr><td>LGB8</td><td>CA</td><td>加州</td><td>92376</td></tr>
                            <tr><td>DLA4</td><td>CA</td><td>加州</td><td>91311</td></tr>
                            <tr><td>SNA4</td><td>CA</td><td>加州</td><td>92376-3009</td></tr>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美西区域分区代码 —— 美西一区（OAK）</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>SJC7</td><td>CA</td><td>奥克兰</td><td>95391</td></tr>
                            <tr><td>OAK3</td><td>CA</td><td>奥克兰</td><td>95363-8876</td></tr>
                            <tr><td>OAK4</td><td>CA</td><td>奥克兰</td><td>95304</td></tr>
                            <tr><td>SMF1</td><td>CA</td><td>奥克兰</td><td>95837</td></tr>
                            <tr><td>SMF3</td><td>CA</td><td>奥克兰</td><td>95206-8202</td></tr>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美西区域分区代码 —— 美西二区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>PHX3</td><td>AZ</td><td>亚利桑那州</td><td>85043</td></tr>
                            <tr><td>PHX5</td><td>AZ</td><td>亚利桑那州</td><td>85338</td></tr>
                            <tr><td>PHX6</td><td>AZ</td><td>亚利桑那州</td><td>85043</td></tr>
                            <tr><td>PHX7</td><td>AZ</td><td>亚利桑那州</td><td>85043</td></tr>
                            <tr><td>TFC1</td><td>AZ</td><td>亚利桑那州</td><td>85043</td></tr>
                            <tr><td>IVSE</td><td>NV</td><td>内华达州</td><td>89115-3467</td><tr>
                            <tr><td>IVSF</td><td>NV</td><td>内华达州</td><td>89115-3477</td><tr>
                            <tr><td>LAS2</td><td>NV</td><td>内华达州</td><td>89030</td><tr>
                            <tr><td>LAS6</td><td>NV</td><td>内华达州</td><td>89115</td><tr>
                            <tr><td>DEN2</td><td>CO</td><td>科罗拉多州</td><td>80019</td><tr>
                            <tr><td>RNO1</td><td>NV</td><td>内华达州</td><td>89408</td><tr>
                            <tr><td>RNO4</td><td>NV</td><td>内华达州</td><td>89506</td><tr>
                            <tr><td>FAT1</td><td>CA</td><td>加州</td><td>93725-9588</td><tr>
                            <tr><td>UCA1</td><td>CA</td><td>Francisco</td><td>94112</td><tr>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美西区域分区代码 —— 美西三区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>BFI1</td><td>WA</td><td>华盛顿州</td><td>98390</td>
                            <tr><td>BFI3</td><td>WA</td><td>华盛顿州</td><td>98327</td>
                            <tr><td>BFI4</td><td>WA</td><td>华盛顿州</td><td>98032</td>
                            <tr><td>BFI7</td><td>WA</td><td>华盛顿州</td><td>98390</td>
                            <tr><td>SEA6</td><td>WA</td><td>华盛顿州</td><td>98144</td>
                            <tr><td>PDX9</td><td>OR</td><td>俄勒冈州</td><td>97060</td>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美东区域分区代码 —— 美东一区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>SDF8</td><td>IN</td><td>印地安那州</td><td>47130</td></tr>
                            <tr><td>IVSC</td><td>NJ</td><td>新泽西州</td><td>08066-1743</td></tr>
                            <tr><td>TEB3</td><td>NJ</td><td>新泽西州</td><td>08085</td></tr>
                            <tr><td>TEB6</td><td>NJ</td><td>新泽西州</td><td>08512</td></tr>
                            <tr><td>EWR4</td><td>NJ</td><td>新泽西州</td><td>08691</td></tr>
                            <tr><td>EWR5</td><td>NJ</td><td>新泽西州</td><td>07001</td></tr>
                            <tr><td>EWR9</td><td>NJ</td><td>新泽西州</td><td>07008-3529</td></tr>
                            <tr><td>ABE2</td><td>PA</td><td>宾夕法尼亚州</td><td>18031</td></tr>
                            <tr><td>ABE3</td><td>PA</td><td>宾夕法尼亚州</td><td>18031</td></tr>
                            <tr><td>ABE4</td><td>PA</td><td>宾夕法尼亚州</td><td>18045</td></tr>
                            <tr><td>ABE5</td><td>PA</td><td>宾夕法尼亚州</td><td>17112</td></tr>
                            <tr><td>ABE8</td><td>NJ</td><td>宾夕法尼亚州</td><td>08518</td></tr>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美东区域分区代码 —— 美东二区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>VUBA</td><td>PA</td><td>宾夕法尼亚州</td><td>18512</td></tr>
                            <tr><td>MDT1</td><td>PA</td><td>宾夕法尼亚州</td><td>17015</td></tr>
                            <tr><td>MDT2</td><td>MD</td><td>马里兰州</td><td>21901</td></tr>
                            <tr><td>AVP1</td><td>PA</td><td>宾夕法尼亚州</td><td>18202</td></tr>
                            <tr><td>AVP3</td><td>PA</td><td>宾夕法尼亚州</td><td>18202</td></tr>
                            <tr><td>PHL5</td><td>PA</td><td>宾夕法尼亚州</td><td>17339</td></tr>
                            <tr><td>PHL6</td><td>PA</td><td>宾夕法尼亚州</td><td>17015</td></tr>
                            <tr><td>JFK8</td><td>NY</td><td>新泽西州</td><td>10314</td></tr>
                            <tr><td>ACY1</td><td>NJ</td><td>纽约</td><td>8066</td></tr>
                            <tr><td>BDL1</td><td>CT</td><td>康涅狄格州</td><td>6095</td></tr>
                            <tr><td>ATL6</td><td>GA</td><td>乔治亚州</td><td>30344-5707</td></tr>
                            <tr><td>VUAT</td><td>GA</td><td>乔治亚州</td><td>30291</td></tr>
                            <tr><td>MGE3</td><td>GA</td><td>乔治亚州</td><td>30549</td></tr>
                            <tr><td>ATL8</td><td>GA</td><td>乔治亚州</td><td>30122-3895</td></tr>
                            <tr><td>JAX3</td><td>FL</td><td>佛罗里达州</td><td>32221</td></tr>
                            <tr><td>JAX2</td><td>FL</td><td>佛罗里达州</td><td>32218-2432</td></tr>
                            <tr><td>CLT2</td><td>NC</td><td>北卡罗莱那州</td><td>28214-8082</td></tr>
                            <tr><td>CAE1</td><td>SC</td><td>南卡罗莱那州</td><td>29172</td></tr>
                            <tr><td>GSP1</td><td>SC</td><td>南卡罗莱那州</td><td>29303</td></tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美中区域分区代码 —— 美中一区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>FTW1</td><td>TX</td><td>德州</td><td>75241-7203</td>
                            <tr><td>FTW2</td><td>TX</td><td>德州</td><td>76051</td>
                            <tr><td>FTW6</td><td>TX</td><td>德州</td><td>75261</td>
                            <tr><td>DFW6</td><td>TX</td><td>德州</td><td>75019</td>
                            <tr><td>MDW2</td><td>IL</td><td>伊利诺州</td><td>60433-3280</td>
                            <tr><td>MDW4</td><td>IL</td><td>伊利诺州</td><td>60433</td>
                            <tr><td>MDW6</td><td>IL</td><td>伊利诺州</td><td>60446-6529</td>
                            <tr><td>MDW7</td><td>IL</td><td>伊利诺州</td><td>60449</td>
                            <tr><td>MDW8</td><td>IL</td><td>伊利诺州</td><td>60085</td>
                            <tr><td>MDW9</td><td>IL</td><td>伊利诺州</td><td>60502</td>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美中区域分区代码 —— 美中二区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>IND1</td><td>IN</td><td>印地安那州</td><td>46075</td></tr>
                            <tr><td>IND2</td><td>IN</td><td>印第安纳州</td><td>46168</td></tr>
                            <tr><td>IND3</td><td>IN</td><td>印地安那州</td><td>46168</td></tr>
                            <tr><td>IND4</td><td>IN</td><td>印地安那州</td><td>46231</td></tr>
                            <tr><td>IND5</td><td>IN</td><td>印第安纳州</td><td>46168</td></tr>
                            <tr><td>IND6</td><td>IN</td><td>印第安纳州</td><td>47130</td></tr>
                            <tr><td>XUSE</td><td>IN</td><td>印地安那州</td><td>46075</td></tr>
                            <tr><td>DET1</td><td>MI</td><td>密歇根州</td><td>48150</td></tr>
                            <tr><td>DTW1</td><td>MI</td><td>密歇根州</td><td>48174</td></tr>
                            <tr><td>DFW7</td><td>TX</td><td>德州</td><td>76177</td></tr>
                            <tr><td>SAT1</td><td>TX</td><td>德州</td><td>78154</td></tr>
                            <tr><td>DFW1</td><td>TX</td><td>德州</td><td>75261</td></tr>
                            <tr><td>XUSB</td><td>TX</td><td>德州</td><td>76155</td></tr>
                            <tr><td>SAT2</td><td>TX</td><td>德州</td><td>78666-8969</td></tr>
                            <tr><td>HOU2</td><td>TX</td><td>德州</td><td>77038-2324</td></tr>
                            <tr><td>HOU3</td><td>TX</td><td>德州</td><td>77423</td></tr>
                            <tr><td>ITX1</td><td>TX</td><td>德州</td><td>77064-3329</td></tr>
                            <tr><td>ITX2</td><td>TX</td><td>德州</td><td>77040-1437</td></tr>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美中区域分区代码 —— 美中二区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>SDF8</td><td>IN</td><td>印地安那州</td><td>47130</td></tr>
                            <tr><td>MEM1</td><td>TN</td><td>田纳西</td><td>38118-8102</td></tr>
                            <tr><td>MKC6</td><td>KS</td><td>堪萨斯州</td><td>66102-3047</td></tr>
                            <tr><td>MKC4</td><td>KS</td><td>堪萨斯州</td><td>66021-9588</td></tr>
                            <tr><td>TUL1</td><td>KS</td><td>堪萨斯州</td><td>67337</td></tr>
                            <tr><td>STL4</td><td>IL</td><td>伊利诺州</td><td>62025-2815</td></tr>
                            <tr><td>CVG1</td><td>KY</td><td>肯塔基州</td><td>41048</td></tr>
                            <tr><td>CVG2</td><td>KY</td><td>肯塔基州</td><td>41048</td></tr>
                            <tr><td>CVG3</td><td>KY</td><td>肯塔基州</td><td>41048</td></tr>
                            <tr><td>CVG5</td><td>KY</td><td>肯塔基州</td><td>41048</td></tr>
                            <tr><td>IVSA</td><td>KY</td><td>肯塔基州</td><td>41048</td></tr>
                            <tr><td>IVSB</td><td>KY</td><td>肯塔基州</td><td>41048</td></tr>
                            <tr><td>LEX1</td><td>KY</td><td>肯塔基州</td><td>40511</td></tr>
                            <tr><td>LEX2</td><td>KY</td><td>肯塔基州</td><td>40511</td></tr>
                            <tr><td>SDF1</td><td>KY</td><td>肯塔基州</td><td>42718</td></tr>
                            <tr><td>SDF2</td><td>KY</td><td>肯塔基州</td><td>40218</td></tr>
                            <tr><td>SDF4</td><td>KY</td><td>肯塔基州</td><td>40165</td></tr>
                            <tr><td>SDF6</td><td>KY</td><td>肯塔基州</td><td>40165</td></tr>
                            <tr><td>SDF7</td><td>KY</td><td>肯塔基州</td><td>40165</td></tr>
                            <tr><td>SDF9</td><td>KY</td><td>肯塔基州</td><td>40165</td></tr>
                            <tr><td>MKE1</td><td>WI</td><td>威斯康星州</td><td>53144</td></tr>
                            <tr><td>CMH1</td><td>OH</td><td>俄亥俄州</td><td>43018</td></tr>
                            <tr><td>CMH2</td><td>OH</td><td>俄亥俄州</td><td>43125-9016</td></tr>
                        </table>
                    </div>
                    <div class="table-item">
                        <table>
                            <tr class="tb-header"><th colspan="4">美东区域分区代码 —— 美东三区</th></tr>			
                            <tr><th>FBA仓库代码</th><th>州名</th><th>城市</th><th>邮编</th></tr>
                            <tr><td>BWI2</td><td>MD</td><td>马里兰州</td><td>21901</td></tr>
                            <tr><td>BWI4</td><td>VA</td><td>维吉尼亚州</td><td>22624-1568</td></tr>
                            <tr><td>RIC1</td><td>VA</td><td>维吉尼亚州</td><td>23803</td></tr>
                            <tr><td>RIC2</td><td>VA</td><td>维吉尼亚州</td><td>23836</td></tr>
                            <tr><td>XUSC</td><td>PA</td><td>宾夕法尼亚州</td><td>17013</td></tr>
                            <tr><td>BOS1</td><td>NH</td><td>新罕布什尔州</td><td>03063</td></tr>
                            <tr><td>BOS5</td><td>MA</td><td>麻萨诸塞州</td><td>02072</td></tr>
                            <tr><td>BOS7</td><td>MA</td><td>麻萨诸塞州</td><td>02722</td></tr>
                            <tr><td>PHL1</td><td>DE</td><td>特拉华州</td><td>19720</td></tr>
                            <tr><td>PHL3</td><td>DE</td><td>特拉华州</td><td>19720</td></tr>
                            <tr><td>PHL4</td><td>PA</td><td>宾夕法尼亚州</td><td>17015</td></tr>
                            <tr><td>PHL7</td><td>DE</td><td>特拉华州</td><td>19709</td></tr>
                            <tr><td>PHL8</td><td>DE</td><td>特拉华州</td><td>19709</td></tr>
                            <tr><td>UFL3</td><td>FL</td><td>佛罗里达州</td><td>33605</td></tr>
                            <tr><td>UFL4</td><td>FL</td><td>佛罗里达州</td><td>32819</td></tr>
                            <tr><td>MCO1</td><td>FL</td><td>佛罗里达州</td><td>32824</td></tr>
                            <tr><td>TPA1</td><td>FL</td><td>佛罗里达州</td><td>33570</td></tr>
                            <tr><td>TPA2</td><td>FL</td><td>佛罗里达州</td><td>33811</td></tr>
                            <tr><td>CLT3</td><td>NC</td><td>北卡罗莱那州</td><td>28027-7995</td></tr>
                            <tr><td>CHA1</td><td>TN</td><td>田纳西</td><td>37416</td></tr>
                            <tr><td>CHA2</td><td>TN</td><td>田纳西</td><td>37310</td></tr>
                            <tr><td>BNA1</td><td>TN</td><td>田纳西</td><td>37090</td></tr>
                            <tr><td>BNA2</td><td>TN</td><td>田纳西</td><td>37067</td></tr>
                            <tr><td>BNA3</td><td>TN</td><td>田纳西</td><td>37127</td></tr>
                            <tr><td>BNA4</td><td>TN</td><td>田纳西</td><td>37217</td></tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>