{# 公用footer #}
<div class="page-footer">
    <div class="footer-container clear">
        <div class="contact-info fl">
            <dl>
                <dt><b>联系我们</b> / Contact us</dt>
                <dd>联系电话：020-89280213</dd>
                <dd>联系邮箱：info@deksu.com</dd>
                <dd>广州总部：广州市越秀区建设八马路33号宜安广场1708房</dd>
                <dd>深圳分公司：深圳市龙岗区坂田街道中兴路11号城市山海中心C栋4楼418</dd>
                <dd>厦门分公司：厦门市湖里区象屿保税区自贸时代广场B栋416</dd>
                <dd class="footer-logo">
                    <img src="/images/logo.png" alt="德速电商物流">
                </dd>
            </dl>
        </div>
        <div class="contact-address fr">
            <ul>
                <li>
                    <em>中国</em>
                    <span>广州</span>
                    <span>深圳</span>
                    <span>厦门</span>
                    <span>宁波</span>
                </li>
                <li>
                    <em>美国</em>
                    <span>洛杉矶</span>
                    <span>纽约</span>
                </li>
                <li>
                    <em>英国</em>
                    <span>伦敦</span>
                    <span>菲利克斯托</span>
                </li>
                <li>
                    <em>德国</em>
                    <span>法兰克福</span>
                    <span>汉堡</span>
                </li>
                <li>
                    <em>加拿大</em>
                    <span>温哥华</span>
                    <span>多伦多</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright-info">&copy;copyright2017 德速电商物流有限公司 版权所有</div>
</div>