{# 公用导航 #}
<div class="main-nav">
    <div class="nav-container clear">
        <h1 class="site-logo" title="德速电商物流">
            <a href="/">
                <img src="/images/logo.png" alt="德速电商物流">
            </a>
        </h1>
        <i class="nav-hover"></i>
        <div class="nav-item">
            <a href="/">HOME</a>
            <a href="/about">关于德速</a>
            <a href="/fba-business">FBA物流业务</a>
            <a href="/intl-business">国际物流业务</a>
            <a href="/campus">人才招聘</a>
            <a href="/contact">联系我们</a>
        </div>
        <div class="side-info">
            <a class="btn-primary" href="http://120.76.59.47:8887/">货物追踪</a>
            <a class="btn-primary" href="http://120.76.59.47:8887/">账号登录</a>
            <a class="contact-phone" href="tel:400-801-5589">在线咨询：400-801-5589</a>
        </div>
    </div>
</div>