{% extends "../_layout/about/about.html" %}

{% block title %}德速电商物流-关于德速{% endblock %}

{% import "../_component/banner.html" as banner %}

{% block content %}
{{ banner.setInfo('关于德速','DELIVER YOUR TRUST&nbsp;&nbsp;信任&nbsp;&nbsp;只因卓越送达') }}
<div class="module-nav">
    <a href="#about">公司简介</a> /
    <a href="#culture">企业文化</a> /
    <a href="#teams">团队风貌</a>
</div>
<div id="about" class="about-module">
    <h3 class="main-title">公司简介</h3>
    <p class="sub-desc">About US</p>
    <div class="mid-container">
        <div class="about-figure">
            <img src="/images/about/main_bg.jpg" />
        </div>
        <div class="main-desc">
            <p><em>德速电商物流(广州)有限公司</em>是一家致力于为亚马逊卖家提供全球FBA物流及配套服务的跨境电商物流公司。
                德速始终以“信任，只因卓越送达”为愿景，通过多年探索创新，凭借传统物流转型的优势以及信息化科技投入，为亚马逊卖家提供行业领先的FBA头程运输渠道及供应链管理方案，其中包括空派专线，海派专线，海卡专线以及海外仓服务等增值服务。
            </p>
            <p>德速电商物流总部位于广州，设有深圳分公司和厦门分公司，宁波和中山设立分支机构；全球合作分支网络辐射洛杉矶、纽约、亚特兰大、伦敦以及阿姆斯特丹。针对亚马逊卖家各种层次需求和各地操作诉求，德速通过全覆盖得海外物流网络，提供一站式综合物流方案，服务覆盖美，英，加，德，法，意，西，日，澳等亚马逊站点。
            </p>
        </div>
    </div>
</div>
<div id="culture" class="culture-module">
    <h3 class="main-title">企业文化</h3>
    <p class="sub-desc">Corporate Culture</p>
    <div class="culture-list">
        <div class="culture-item">
            <img src="/images/about/about_01.jpg">
            <div class="mask">
                <h3>使命</h3>
                <p>
                    让国际运输更简单<br />
                    <span>SIMPLIFY YOUR INTERNATIONAL LOGISTICS</span>
                </p>
            </div>
        </div>
        <div class="culture-item">
            <img src="/images/about/about_02.jpg">
            <div class="mask">
                <h3>愿景</h3>
                <p>
                    信任&nbsp;&nbsp;&nbsp;&nbsp;只因卓越送达<br />
                    <span>DELIVER YOUR TRUST</span>
                </p>
            </div>
        </div>
        <div class="culture-item">
            <img src="/images/about/about_03.jpg">
            <div class="mask">
                <h3>目标</h3>
                <p>
                    比卖家更懂物流<br />
                    比物流更懂平台<br />
                    比平台更懂卖家
                </p>
            </div>
        </div>
        <div class="culture-item">
            <img src="/images/about/about_04.jpg">
            <div class="mask">
                <h3>文化</h3>
                <p class="small-size">
                    敬畏 - 敬畏市场，敬畏客户，始终保持谦虚之心砥砺前行<br />
                    团结 - 团队精神，牺牲精神，始终怀有协作之心克服困难<br />
                    创新 - 效率创新，模式创新，始终保持学习之心求索不止<br />
                    业绩 - 业绩为王，结果导向，始终怀有争冠之心勇攀高峰
                </p>
            </div>
        </div>
    </div>
    <div class="culture-detail">
        <i class="quote quote-top"></i>
        <i class="quote quote-bottom"></i>
        <ul>
            <li>
                <label>使命：</label>
                让国际运输更简单 SIMPLIFY YOUR INTERNATIONAL LOGISTICS
            </li>
            <li>
                <label>愿景：</label>
                信任 只因卓越送达 DELIVER YOUR TRUST
            </li>
            <li>
                <label>目标：</label>
                比卖家更懂物流，比物流更懂平台，比平台更懂卖家
            </li>
            <li>
                <label>文化：</label>
                敬畏 - 敬畏市场，敬畏客户，始终保持谦虚之心砥砺前行<br />
                团结 - 团队精神，牺牲精神，始终怀有协作之心克服困难<br />
                创新 - 效率创新，模式创新，始终保持学习之心求索不止<br />
                业绩 - 业绩为王，结果导向，始终怀有争冠之心勇攀高峰。
            </li>
        </ul>
    </div>
</div>
<div id="teams" class="teams-module">
    <h3 class="main-title">团队风貌</h3>
    <p class="sub-desc">Our Teams</p>
    <div class="teams-figure">
        <ul>
            <li class="team265">
                <span><img src="/images/about/team_group_01.jpg"></span>
                <span><img src="/images/about/team_group_05.jpg"></span>
            </li>
            <li class="team505">
                <span><img src="/images/about/team_group_02.jpg"></span>
            </li>
            <li class="team400">
                <span class="small-figure"><img src="/images/about/team_group_03.jpg"></span>
                <span class="small-figure"><img src="/images/about/team_group_04.jpg"></span>
                <span><img src="/images/about/team_group_06.jpg"></span>
            </li>
        </ul>
    </div>
    <div class="teams-desc">
        <em>德速电商物流</em>从传统物流转型而来，由原亚马逊高管协同原DHL，UPS，万邑通等一众精英创立，现拥有一支跨界互补的国际型复合团队，熟知物流、平台、技术、关务与税务，核心团队均有超过10年的从业经验。近年来德速持续地不断投入团队建设和优化软硬件设备，扩大自有海内外网点布局，且不断在管理模式和渠道服务上合规创新。我们的目标是：比卖家更懂物流，比物流更懂平台，比平台更懂卖家。
    </div>
</div>
{% endblock %}