{% extends "../_layout/campus/campus.html" %}

{% block title %}德速电商物流-人才招聘{% endblock %}

{% import "../_component/banner.html" as banner %}

{% block content %}
{{ banner.setInfo('人才招聘','企业招聘、海纳百川，德速期待您的加入') }}
<div class="campus-module">
    <h3 class="main-title">人才招聘</h3>
    <p class="sub-desc">We Need You</p>
    <div class="mid-container">
        <div class="campus-item">
            <div class="campus-header"><b>销售经理</b>（广州/深圳/厦门/宁波/中山）</div>
            <div class="campus-detail">
                <strong>岗位职责：</strong>
                <p>1. 组建和管理销售团队；</p>
                <p>2. 执行公司的销售计划，对年度团队销售业绩负责；</p>
                <strong>任职要求：</strong>
                <p>1. 大专以上学历，英语四级或以上</p>
                <p>2. 有3年以上国际货代、电商物流、船东航线或航司航线销售经验；</p>
                <p>3. 有1年以上销售团队管理经验。</p>
            </div>
        </div>
        <div class="campus-item">
            <div class="campus-header"><b>客户经理</b>（广州/深圳/厦门/宁波/中山）</div>
            <div class="campus-detail">
                <strong>岗位职责：</strong>
                <p>1. 开发、维护客户； </p>
                <p>2. 执行公司的销售计划，对个人销售业绩负责；</p>
                <strong>任职要求：</strong>
                <p>1. 大专以上学历，英语四级或以上；</p>
                <p>2. 有1年以上销售岗位经验；</p>
                <p>3. 具备很强的沟通协调能力；</p>
                <p>4. 有国际货代或电商物流销售经验者优先。</p>
            </div>
        </div>
        <div class="campus-item">
            <div class="campus-header"><b>渠道经理</b>（广州）</div>
            <div class="campus-detail">
                <strong>岗位职责：</strong>
                <p>1. 开发、维护和优化空海运渠道产品； </p>
                <p>2. 开发、维护和管理空海运渠道服务商； </p>
                <strong>任职要求：</strong>
                <p>1. 大专或以上学历，英语四级或以上；</p>
                <p>2. 有3年以上国际货运操作经验或市场经验；</p>
                <p>3. 或有2年以上船东航线或者航空舱位销售经验；</p>
            </div>
        </div>
        <div class="campus-item">
            <div class="campus-header"><b>海外市场经理</b>（广州）</div>
            <div class="campus-detail">
                <strong>岗位职责：</strong>
                <p>1. 开发、维护和优化海外代理；</p>
                <p>2. 跟进日常与海外代理的沟通；</p>
                <strong>任职要求：</strong>
                <p>1. 本科或以上学历，英语专业，国际贸易专业优先考虑；</p>
                <p>2. 大学英语六级或专业4级以上，良好的英语沟通能力；</p>
                <p>3. 有海外代理资源，跨境电商、国际货代、电商物流等相关经验者优先；</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}