<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="德速,物流,互联网" />
    <meta name="description" content="德速物流" />
    {% block css %}{% endblock %}
</head>

<body>
    {% include "../../_component/nav.html" %}
    
    {% block content %}{% endblock %}

    {% include "../../_component/footer.html" %}

    {% block js %}
    <script src="/js/lib/jquery.min.js"></script>
    {% endblock %}
</body>

</html>